default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: 0nly0ne0r@ngE
  host: 127.0.0.1

development:
  <<: *default
  database: docker_example_for_rails_development

test:
  <<: *default
  database: docker_example_for_rails_test

production:
  <<: *default
  database: docker_example_for_rails_production
